<nav class="navbar navbar-expand-md">
    <a class="navbar-brand d-none d-md-block" href="https://github.com/ThoMot"><img class="rounded-circle" id="varmkun" height="50" width="50" src="img/ThoraMothes.jpg" alt="picture of Thora"></a>
    <span class="navbar-text ">
      Project by: Thora Mothes | ThoMot &copy; 2019
    </span>
</nav>

