<h3 class="text-center">Appointments: </h3>
<div class="table-res">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th style="width: 16.66%">Date</th>
            <th style="width: 16.66%">Start time</th>
            <th style="width: 16.66%">Duration</th>
            <th style="width: 16.66%">Booked by</th>
            <th style="width: 16.66%" scope="col" colspan="2">
                <a href="" class="btn btn-success" data-toggle="modal" id="newAppointment"
                   data-target="#modalNew">Add Appointment</a>
            </th>
        </tr>
        </thead>
        <tbody id="tableBod">

        </tbody>
    </table>
</div>

<!--Details Modal-->
<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-sm" role="document">
        <!--Content-->
        <div class="modal-content" id="modalBod">
            <!--Body-->
            <div class="modal-body mb-1">
                <h1 class="mt-1 mb-2 text-center">Appointment Details</h1>
                <h5 id="appID" class="mt-1 mb-2 text-center"> Appointment ID: </h5>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name">Name:</label>
                            <input disabled placeholder="name not provided" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="booked">Booked by:</label>
                            <input disabled type="text" class="form-control" id="booked"
                                   placeholder="name not provided">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="starttime">Start time:</label>
                            <input disabled type="text" class="form-control" id="starttime">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="endtime">End time:</label>
                            <input disabled type="text" class="form-control" id="endtime">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="duration">Duration:</label>
                            <input disabled type="text" class="form-control" id="duration">
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <h5 id="updateSuccess" class="text-success"></h5>
                    <div id="failed">
                        <h5 id="detailsFailed" class="text-danger">Details could not be fetched</h5>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>



<!--NEW appointment Modal-->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-sm" role="document">
        <!--Content-->
        <div class="modal-content" id="modalBod">
            <!--Body-->
            <div class="modal-body mb-1">
                <h1 class="mt-1 mb-2 text-center">New Appointment</h1>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="newDate">Date:</label>
                            <input type="date" class="form-control" id="newDate"
                                   placeholder="name not provided">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="newStart">Start time:</label>
                            <input type="text" class="form-control" id="newStart">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="newEnd">End time:</label>
                            <input type="text" class="form-control" id="newEnd">
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <h5 id="updateSuccess" class="text-success"></h5>
                    <div id="failed">
                        <h5 id="addFailed" class="text-danger">Could not add appointment</h5>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" id="addAppointment" class="btn btn-success" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>


<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-center">
                <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to delete this appointment?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="text-center">
                    <h5>Appointment id:</h5>
                    <p id="deletedAuthorId"></p>
                    <div><span>Start time:</span><p id="startTimeDelete"></p></div>
                    <div><span>End time:</span><p id="endTimeDelete"></p></div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-success" id="deleteAuthor">Yes remove it</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                <div class="text-center">
                    <h5 id="deleteSuccess" class="text-success"></h5>
                    <div id="deleteFailed">
                        <h5 id="" class="text-danger">Delete Failed</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/dashboard.js"></script>