<div class="darkBackground py-5">
    <div class="container lightFont pt-5 nav-space">
        <div class="text-center">
            <h3 class="mb-4">Welcome to the Scheduler app. Sign in or make an account to get started on your scheduler journey</h3>
            <h3>If you would like to schedule an appointment with someone through the scheduler app please ask
            them for an url key</h3>
        </div>
        <div class="my-5 text-center">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm"
                    /{{#if username}}disabled{{/if}}>Sign Up</button>
        </div>
    </div>
</div>


{{!-- Signin modal --}}
<div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold darkFont">Sign In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="mdi mdi-account prefix grey-text"></i>
                    <input type="text" id="username" class="form-control validate" autocomplete="off">
                    <label data-error="Required field" data-success="" for="username">Username</label>
                </div>
                <div class="md-form mb-5">
                    <i class="mdi mdi-lock prefix grey-text"></i>
                    <input type="password" id="signinPassword" class="form-control validate" autocomplete="off">
                    <label data-error="Required field" data-success="" for="signinPassword">Password</label>
                </div>
                <div class="text-center md-form mb-4">
                    <p class="overdueRed" id="feedbkSignin"></p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="signin" class="btn btn-success">Sign In</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up Modal-->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold darkFont">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="mdi mdi-account prefix grey-text"></i>
                    <input type="text" id="signupfirstname" class="form-control validate" autocomplete="off">
                    <label data-error="Required field" data-success="" for="signupfirstname">Your firstname</label>
                </div>

                <div class="md-form mb-5">
                    <i class="mdi mdi-account prefix grey-text"></i>
                    <input type="text" id="signuplastname" class="form-control validate" autocomplete="off">
                    <label data-error="Required field" data-success="" for="signuplastname">Your lastname</label>
                </div>

                <div class="md-form mb-5">
                    <i class="mdi mdi-email prefix grey-text"></i>
                    <input type="email" id="signupemail" class="form-control validate" autocomplete="off">
                    <label data-error="Not valid email" data-success="" for="signupemail">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="mdi mdi-lock prefix grey-text"></i>
                    <input type="password" id="signupPassword" class="form-control validate">
                    <label data-error="" data-success="" for="signupPassword">Your password</label>
                </div>
                <div class="text-center md-form mb-4">
                    <p class="overdueRed" id="feedbkSignup"></p>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="signUpBtn" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!--User created-->
<div class="modal fade" id="userCreationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Welcome</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="text-center">
                    <p id="creationSuccessMessage"></p>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-success lightFont" data-dismiss="modal"><span
                            class="lightFont signupFont">Ok</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-2 text-center">
    <a class="btn btn-secondary" href="/rubric">Show Grading Rubric</a>
</div>

<script src="/js/index.js"></script>
