body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    background-color: #F0F8FF;
}

.navbar {
    background-color: #5F9EA0;
}

.darkBackground{
    background-color: #B0C4DE;
}
