body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.navbar {
    background-color: #778899;
}

.darkBackground{
    background-color: #5F9EA0;
}

.content {
 background-color: #F0F8FF;   
}
